@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Lora:wght@400;700&family=Nunito:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}


header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

main {
    padding: 20px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #8C7AA9;
    text-decoration: underline;
}


ul {
    list-style-type: none;
}

#cor1 {
    color: red;
}

#cor2 {
    color: rgb(199, 199, 5);
}

#cor3 {
    color: #28A745;
}

table {
    border: solid black 1px;
    border-collapse: collapse;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
}


caption {
    font-size: 30px;
    background-color: #5B8FB9;
    border-radius: 3px 3px 0px 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

caption:hover{
    text-decoration: underline;
    color: #333;
}

td {
    border: solid black 1px;
    padding: 5px;
}

th {
    border: solid black 1px;
    padding: 5px;
    background-color: #5B8FB9;
    color: white;
    padding: 10px;
}

th:hover{
    color: #333;
    text-decoration: underline;
}

.preco_itens {
    text-align: right;
    background-color: #A0C4D9;
    color: #333;
    font-weight: bold;
}

.produto {
    background-color: #6AA57C;
    color: #FFFFFF;
    font-weight: bold;

}

.categoria_itens {
    background-color: #6AA57C;
    color: #FFFFFF;
    font-style: italic;
}

.categoria_itens:hover,
.preco_itens:hover,
.produto:hover {
    text-decoration: underline;
    color: #333;
}

.preco_itens:hover,
.low-stock:hover,
.medium-stock:hover,
.high-stock:hover {
    color: white;
    text-decoration: underline;
}

.low-stock {
    background-color: #FF5733;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.medium-stock {
    background-color: #FFD700;
    text-align: center;
    color: #333;
}

.high-stock {
    background-color: #28A745;
    font-weight: bold;
    text-align: center;
    color: #333;
}

tfoot>tr>td {
    text-align: center;
    font-weight: bolder;
    background-color: #5B8FB9;
    color: white;
}

tfoot>tr>td:hover{
    color: #333;
    text-decoration: underline;
}


footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #ccc;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    color: #666;
}

footer button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer button:hover {
    background-color: #0056b3;
}