@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #F5E8C7;
    --cor-secundaria: #C15434;
    --cor-destaque: #8C2F39;
    --cor-texto: #333333;
    --cor-fundo-secundario: #FAFAFA;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    padding: 10px;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 50px;
    color: var(--cor-destaque);
}


nav>ul {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    list-style: none;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: bold;
    flex-wrap: wrap;  
}

nav>ul :hover {
    text-decoration: underline;
}

#home {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-image: url(img/imagem-receita.jpg);
    background-size: cover;
}

#home > h2, #home > p {
    background: linear-gradient(135deg, rgba(255, 179, 0, 0.7), rgba(255, 165, 0, 0.7));
    padding: 3px;
    border-radius: 3px;
    font-weight: bold;
}

.cartao {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    margin: 20px;
    padding: 10px;
}


.imagem-cartao {
    width: 100%;  
    height: auto;
  }

#menu > h2 {
    font-family: 'Lora', serif;
    color: var(--cor-destaque);
    text-align: center;  
}


h2, h3 {
    font-family: 'Lora', serif;
    color: var(--cor-destaque);
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    line-height: 1.5;
}

span{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    line-height: 1.5;
    font-weight: bolder;
}

a {
    color: var(--cor-secundaria);
    text-decoration: none;
}

section {
    padding: 20px;
    border-radius: 8px;
}
ul{
    display: flex;
    flex-wrap: wrap;  
    gap: 10px; 
    justify-content: center;
}


#contato {
    background-color: var(--cor-fundo-secundario);  
    color: var(--cor-fundo-secundario);  
    padding: 20px;
    text-align: center;
    
}

#contato p {
    margin: 10px 0;
    font-size: 14px;
    color: var(--cor-destaque); 
}

#contato h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--cor-destaque);  
    text-transform: uppercase;
    letter-spacing: 2px;
}

#contato a {
    margin: 0 10px;
}

#contato img {
    width: 40px;
    height: 40px;
    
}

#contato a {
    text-decoration: none;
}
